body {
    font-weight: bold;
    font-size: 14px;
    font-family: "Lato Light";
}

.table .cohort {
    display: none;
}

table, th, td,tr {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
  }