body {
    font-weight: bold;
    font-size: 12px;
    font-family: "Lato Light";
}

.header > * {
    display: inline-block;
    margin: auto;
}

.table .cohort {
    visibility: hidden;
}

table, th, td,tr {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }

